# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.wav

output/

*.snm

*.gz

*.toc

doc/beamer/figures/vect/

*.aux

*.log

*.nav

doc/beamer/main_beamer\.pdf

*.m~

doc/figures/vect/

doc/main_beamer\.pdf

bin/

corpus/Anechoic_Chamber_16/

corpus/Cafeteria_16/

corpus/Department_Store_16/

corpus/Office_A_16/
